/* .error{
    color: red;
    text-decoration: none;
}

.success{
    background-color: aqua;
    border: 2px solid black;
} */

.okay{
    text-transform: uppercase;
}

.success{
    color: green;
    
}

.error{
        color: red;
        
    }
